body,html {
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	line-height:1.3em;
	text-align:left;
	height: 1200px;
}


header {
	width: 1260px;
	height: 200px;
	margin: 0 auto;
	padding: 0;
}
h1 {
	font-size: 35px;
	text-align: center;
	margin: 15px;
}
ul, li {
	list-style:none;
}

p {
	margin:0 0 1.3em;
}

main {
	position:relative;
	margin:0;
	padding:0;
	width:1260px;
	height: 200px;
	margin:0 auto;

}

.topo {
	position:relative;
	width:100%;
	height:65px;
}
header img {
	width: 30%;
	margin: 1em;

}

.conteudo{
	margin:-35px 0 0 177px;
}

.colunas{
	float:left;
	width:305px;
	background: url("../images/bg-textura.jpg") repeat;	
	margin-left:11px;
	padding-bottom:20px;
}
.descricao-do-menu-escrito {
		padding-top: 3px;
		font-size: 14px;
	}

.descricao-do-menu{

	height:21px;
	border-radius:5px 5px 0 0;
	text-align:center;
	padding:7px 20px;
	color:#fff;
	font-weight:bold;
}


.menu-dev{
	background: rgb(131,56,149);
	text-shadow: 1px 1px 1px black;

}
.menu-pro{
	background: #F69523;
	text-shadow: 1px 1px 1px black;
}
.menu-hom{
	background: #4699D3;
	text-shadow: 1px 1px 1px black;
}


#submenu-acordeao .item {
    width: 202px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    
    transition: height ease-in-out 500ms;
    -o-transition: height ease-in-out 500ms;
    -moz-transition: height ease-in-out 500ms;
    -webkit-transition: height ease-in-out 500ms;
}
#submenu-acordeao a {
    display: block;
    width: 141px;
    height: 62px;
    line-height: 20px;
    padding: 5px 12px 5px 18px;
    color: #1e1e1e;
    text-decoration: none;
}
#submenu-acordeao img {
	width: 100%;
}
#submenu-acordeao p {
	text-align: center;
    height: 150px;
    padding: 5px;
}
#submenu-acordeao div:hover {
    height: 180px;
}
.horus-comprimento #submenu-acordeao div:hover {
	height: 380px;
} 
#submenu-acordeao div:hover a {
    border-bottom: 1px solid #ccc;
    font-weight: bold;

}




.lista span {
	position:absolute;
	top:0;
	left:0;
	width:145px;
	margin:44px 0 0 0px;
	text-align:right;
	color:#999;
	font-size:9px;
	text-decoration:none;
	text-transform:uppercase;
}

.lista a {
	position:relative;
	display:block;
	width:135px;
	height: 40px;
	background:#f6f6f6;
	border:1px solid #ddd;
	margin:12px auto;
	padding:10px 12px 10px 18px; 
	border-radius:5px;
	box-shadow:0px 1px 1px #ccc;
	text-decoration:none;
}

.lista a:hover {
	border:1px solid #bbb;
}
.lista img#ajuste-de-resolucao {
	width: 100%;
}

.clean{
	clear:both;	
} 


/* Menu Vertical Sanfona
----------------------------------------------- */
.verticalsanfona ul {
margin: 0;
padding: 0;
list-style:none;
width: auto;
}
.verticalsanfona ul li {
display:block;
overflow: hidden;
margin: 0;
padding: 0;
list-style:none;
height:40px;
width: auto;
background-color:#f0f0f0;
transition: height 0.3s ease-in-out;
-moz-transition: height 0.3s ease-in-out;
-webkit-transition: height 0.3s ease-in-out;
-o-transition: height 0.3s ease-in-out;
}

.verticalsanfona ul li h3 {
display:block;
margin: 0;
padding:10px;
padding-left:20px;
height:19px;
border-top:#f0f0f0 1px solid;
font-family: Arial, Helvetica, sans-serif;
text-decoration:none;
text-transform:capitalize;
color: #000;
background: #cccccc url(ENDEREÇO-DA-SUA-IMAGEM) repeat;
text-align: left;
font-size:16px;
}
.verticalsanfona ul li h3 a{
color: #000;
}

.verticalsanfona ul li h3 a:hover{
color: #fff;
}

.verticalsanfona ul li div {
margin:0;
overflow: auto;
padding:10px;
padding-left:20px;
height:220px;
}

.verticalsanfona ul li:hover {
height: 280px;
}

.verticalsanfona:hover ul li:hover h3 {
color:#fff;
background: #000000 url(ENDEREÇO-DA-SUA-IMAGEM) repeat;;
}

.verticalsanfona ul li h3:hover {
cursor:pointer;
}